* {
    font-family: 'Open Sans', sans-serif;
}

header {
    font-size: 35px;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: bolder;
    background-image: linear-gradient(90deg, #0070b8, midnightblue);
    margin-bottom: 10px;
}
.search-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
#search-btn {
    background-color: #0070b8;
}
.forecast {
    background-color: #0070b8;
}

/* formatting for UV index */ 
.success {
    background-color: lightgreen;
    padding: 0 10px;
}
.danger {
    background-color: red;
    padding: 0 10px;
}
.caution {
    background-color: yellow;
    padding: 0 10px;
}